main {
  font-size: 1.05rem;
  line-height: 1.65;
}

.listing-date,
.listing-reading-time {
  opacity: 0.7;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 1em;
  font-style: normal;
}

@media (min-width: 768px) {
  div.quarto-post .metadata {
    flex-basis: 7.5em;
    flex-grow: 0;
    flex-shrink: 0;
  }
  div.quarto-post .body {
    flex-basis: auto;
    flex-grow: 1;
  }
}
